<section>
    <h1>Subscribe</h1>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="http://sandeepnanda.us9.list-manage.com/subscribe/post?u=78c111d1b45157d485f2168c9&amp;id=c4f65d0f01" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        Hey there! To get updates about new articles published on this blog
        <div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_78c111d1b45157d485f2168c9_c4f65d0f01" tabindex="-1" value=""></div>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"><br/>
            <small>No spam, no selling your address. One click unsubscribe.</small>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
</section>
