{% if post.content %}
    {% assign content = post.content %}
{% elsif page.content %}
    {% assign content = page.content %}
{% endif %}

{% if post.author %}
    {% assign author = post.author %}
{% elsif page.author %}
    {% assign author = page.author %}
{% else %}
    {% assign author = "Anonymous" %}
{% endif %}

{% if post.url %}
    {% assign url = post.url %}
{% elsif page.url %}
    {% assign url = page.url %}
{% endif %}

<div class="quote">
    <blockquote itemprop="text">
        <a href="http://{{ site.domain}}{{ url }}">&ldquo; {{ content | remove: '<p>' | remove: '</p>' }} &rdquo;</a>
        {% unless author == site.author %}
            <footer>
                <strong>- {{ author }}</strong>
            </footer>
        {% endunless %}
    </blockquote>
</div>
