{% unless content %}
    {% if post.content %}
        {% assign content = post.content %}
    {% elsif page.content %}
        {% assign content = page.content %}
    {% endif %}
{% endunless %}

{% if post.author %}
    {% assign author = post.author %}
{% elsif page.author %}
    {% assign author = page.author %}
{% else %}
    {% assign author = "Anonymous" %}
{% endif %}

<div class="quote">
    <blockquote>
        {{ content }}
        <footer>
            <strong>- 
                {% if author == site.author %}
                    <a href="/">{{ author }}</a>
                {% else %}
                    {{ author }}
                {% endif %}
            </strong>
        </footer>
    </blockquote>
</div>
