---
layout: page_with_sidebar
---

<div class="pagetitle">
    <h1 itemprop="headline">{{ page.category | capitalize }} series</h1>
    {% for series in site.data.series %}
        {% if series.category == page.category %}
            <p itemprop="alternativeHeadline" class="subtitle">{{ series.desc }}</p>
        {% endif %}
    {% endfor %}
</div>
<div itemprop="text" class="blog-index">
    {% for post in site.categories[page.category] %}
        {% include post/excerpt.html %}
    {% endfor %}
</div>
